<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/adminStatic/css/common_new.css" type="text/css" />
<script type="text/javascript" src="/adminStatic/js/jquery.min.js" ></script>
<title>{$pagetitle} - 网站后台管理</title>
</head>

<body>
<div id="man_zone">
	<h2>{$pagetitle}</h2>
    <form name="category" action="__URL__/cateadd" method="post">
  	<table width="96%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
    	<tr>
      		<td width="18%" class="left_title_1">上级分类</td>
      		<td width="82%">
            	<select name="hcate">
                	<option value="0">无上级分类</option>
                    <volist name='hcate' id='hv' >
                		<option value="{$hv.id}" style="background-color:#FFC;">{$hv.catename_cn}</option>
                    </volist>
                </select>
            </td>
    	</tr>
    	<tr>
      		<td class="left_title_2">类别中文名</td>
      		<td><input class="text_style" type="text" name="catename_cn" /></td>
    	</tr>
    	<tr>
      		<td class="left_title_1">类别英文名</td>
      		<td><input class="text_style" type="text" name="catename_en" /></td>
    	</tr>
    	<tr>
      		<td class="left_title_2">类别中文描述</td>
      		<td><textarea name="cateinfo_cn" rows="5" cols="60"></textarea></td>
    	</tr>
    	<tr>
      		<td class="left_title_1">类别英文描述</td>
      		<td><textarea name="cateinfo_en" rows="5" cols="60"></textarea></td>
    	</tr>
        <tr>
      		<td class="left_title_2">排序值</td>
      		<td><input class="text_style" type="text" name="catetype" style="width:80px;" value="50" /> (0 - 99的数值，数字越大排序越靠前)</td>
    	</tr>
        <tr>
      		<td class="left_title_1">&nbsp;</td>
      		<td><input type="submit" name="submit" value=" 提交 " />&nbsp;&nbsp;
            <input type="reset" name="reset" value=" 重置 " />
            </td>
    	</tr>
  	</table>
    </form>
    <br />
    <br /><br />
</div>
</body>
</html>