<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/adminStatic/css/common_new.css" type="text/css" />
<title>通用后台管理登录</title>
</head>

<body>
<div class="login_form" style="margin:100px auto; width:500px; padding:30px; border:1px #CCC solid;">
	<h3>后台管理员登录</h3>
	<form name="form" action="" method="post">
    	用户名：<input type="text" name="adminname" style="width:200px;" /><br />
    	密&nbsp;&nbsp;&nbsp;码：<input type="password" name="adminpass" style="width:200px;" /><br />
        验证码：<input type="text" name="verify" style="width:80px;" /><img src="__APP__/Index/verify/" /><br /><br />
        <input type="submit" name="submit" value=" 登 录 " />&nbsp;&nbsp;&nbsp;
        <input type="reset" name="reset" value=" 重 置 " />
    </form>
</div>
</body>
</html>
