<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/adminStatic/css/common_new.css" type="text/css" />
<title>{$pagetitle} - 网站后台管理</title>
</head>

<body>
<div id="man_zone">
	<h2>{$pagetitle}</h2>
    <form name="uppass" action="" method="post">
  	<table width="99%" border="0" align="center"  cellpadding="3" cellspacing="1" class="table_style">
    	<tr>
      		<td width="18%" class="left_title_1">输入新密码</td>
      		<td width="82%"><input type="password" name="nadminpass" /></td>
    	</tr>
    	<tr>
      		<td class="left_title_1">重复新密码</td>
      		<td><input type="password" name="radminpass" /></td>
    	</tr>
    	<tr>
      		<td class="left_title_2">&nbsp;</td>
      		<td><input type="submit" name="submit" value=" 提交 " /></td>
    	</tr>
  	</table>
    </form>
</div>
</body>
</html>
