@charset "utf-8";
/* CSS Document */
.tab_menu,.tab_menu2 { width:auto; height:25px; position:relative;}
.tab_menu ul,.tab_menu2 ul { position:absolute; top:0; left:0; list-style-type:none;}
.tab_menu li,.tab_menu2 li { width:90px; height:24px; float:left; border:1px #d8d8d8 solid; border-bottom:0; background-color:#f6f6f6; margin-right:10px; line-height:24px; text-align:center; cursor:pointer; font-size:13px; font-weight:bold; color:#666666;}
.tab_menu li.selected,.tab_menu2 li.selected { background-color:#FFF; height:25px; color:#3e3e3e; border:1px #098aa7 solid; border-bottom:0;}

.tab_box,.tab_box2 { border:1px #098aa7 solid; padding:10px;}
.hide { display:none;}

.tab_menu3 { width:auto; height:32px; position:relative;}
.tab_menu3 ul { position:absolute; top:0; left:0; list-style-type:none;}
.tab_menu3 li { width:148px; height:31px; float:left; border:1px #d8d8d8 solid; border-bottom:0; background-color:#FFF; line-height:31px; text-align:center; cursor:pointer; font-size:12px; font-weight:bold; color:#999;}
.tab_menu3 li.selected { font-size:14px; background-color:#fafafa; height:32px; color:#3e3e3e; border:1px #d8d8d8 solid; border-bottom:0;}
.tab_box3 { border:1px #d8d8d8 solid; padding:10px; background-color:#fafafa;}