@charset "utf-8";
/* 公共样式 */
/* 本页面css优待优化，目前有很多冗余 */

/* 注册 */
.reg ,.reg h1 { font-size:26px;color:#ccc;}
.reg { float:left;width:545px;height:auto;font-size:20px;color:#ccc;font-weight:bold;margin:50px 80px;}
.reg .field_input,.reg .field_label { float:left;width:318px;margin:10px 0 0 0;}
.field_input .input,.field_label .label { float:left;width:305px;height:42px;margin:10px 0 0 0;border:2px solid #ccc; padding:2px 0 0 10px;font-size:16px;}
.reg .field_label { display:block;width:140px;margin-left:5px;}
.reg .field_label dl { display:block;}
.reg .field_label dt { display:block;width:136px;border-color:#fff;}
.reg .authcode { float:left;width:156px; margin-right:5px;}
.reg .img_authcode { float:left;width:92px;height:40px;margin:12px 0 0 10px;background:#fcf;cursor:pointer;border:none;}
.reg .valid {border:2px solid #6c0;}
.reg input.error {border:2px solid red;}
.reg label.error { display:none;width:200px;height:36px;line-height:36px;margin:0 0 0 5px;color:red;font-size:14px;font-weight:normal;}

.reg .form_submit { display:inline-block;width:545px;height:60px;line-height:75px;}
.reg .field_agreement { margin:10px 0;font-size:14px;color:#333;font-weight:normal;height:40px;}
.reg .field_agreement .error { line-height:100%; }
.reg .field_agreement a { text-decoration:none;color:#076699;}
.reg .btn { width:98px;height:36px; }
.btn { -moz-border-radius: 4px; -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),0 -1px 1px rgba(0,0,0,.28); -webkit-border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28); background-color: #1bcdcf; border: 1px solid #00acad; border-color: rgba(0,0,0,.1)rgba(0,0,0,.1)rgba(0,0,0,.1)rgba(0,0,0,.1); border-radius: 4px; box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28); color: #fff; cursor: pointer; display: inline-block; font-family: "Helvetica Neue",helvetica,arial,sans-serif; font-size: 18px; font-weight: 700; line-height: 1; margin: 0; padding: 8px 17px 11px; text-align: center; text-decoration: none; text-shadow: 0 1px 0 rgba(0,0,0,.2); vertical-align: middle; }
/*其他登录方式*/
.other_reg { float:left;display:inline-block;margin:70px 0;padding:0 0 0  65px;border-left:1px solid #c8c8c8;width:205px;height:320px;font-size:20px;color:#585858; }
.other_reg dl img { float:left;display:inline-block;border:none;width:36px;height:36px;}
.other_reg dt { color:#666;font-weight:normal;margin:20px 0;}
.other_reg label {float:left;display:inline-block;height:36px;line-height:36px;margin:0 0 0 10px;}
.other_reg .to_reg { display:block;width:170;height:26px;margin:40px 0 0 0;padding:8px 0 0 0;font-weight:600;}
.other_reg a.to_reg:hover { color:#fff; }
.other_reg a.to_reg { color:#fff; }
.orange { background-color: #f37049;}
/* 重写button宽度 */
.other_reg .btn,.other_login .btn { width:170px; }
/* 登录 */
.user_login ,.user_login h1{ font-size:20px;color:#ccc;}
.user_login { float:left;display:inline-block;width:505px;height:auto;font-size:20px;color:#ccc;font-weight:bold;margin:70px 80px;}
.user_login .field { float:left;width:305px;height:38px;margin:12px 0 0 0;border:2px solid #ccc;}
.user_login .field label { float:left;width:36px;height:36px; }
.user_login .input { float:left;width:260px;height:38px;font-size:16px;}
.user_login .field_autologin { margin:15px 0 0 0;font-size:14px;color:#333;font-weight:normal;height:40px;}
.user_login .btn { width:98px;height:36px; }

.user_login .valid {border:2px solid #6c0;}
.user_login .error {border:2px solid red;}
.user_login .error {float:left;display:inline-block;width:190px;height:42px;line-height:42px;margin:12px 0 0 5px;color:red;font-size:14px;font-weight:normal;}

.other_login { float:left;display:inline-block;margin:70px 0;padding:0 0 0  65px;border-left:1px solid #c8c8c8;width:205px;height:320px;font-size:20px;color:#585858; }
.other_login dl img { float:left;display:inline-block;border:none;width:36px;height:36px;}
.other_login dt { color:#666;font-weight:normal;margin:20px 0;}
.other_login label {float:left;display:inline-block;height:36px;line-height:36px;margin:0 0 0 10px;}
.other_login .to_reg { display:block;width:170;height:26px;margin:40px 0 0 0;padding:8px 0 0 0;font-weight:600;}
.other_login a.to_reg:hover { color:#fff; }

