@charset "utf-8";
.my_tag button{margin-left:10px;}
//标签选择器相关的样式
//重写弹出层宽度
.easyDialog_wrapper { width:400px; }
.easydialog_tag {width:100%;margin-top:10px;}
.easydialog_tag a { border-color:#3079ed;border-width:1px;border-style:solid; padding:2px 5px;margin:2px 4px; cursor: hand; cursor: pointer; display:block;height:20px;float:left; }
/*清除浮动代码*/
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.notice {padding-left:15px;color:green;}

